@model Show
@{
    ViewData["Title"] = "Show Details";
}
<div class="col-lg-9 my-4">
    <div class="row">
        <!-- Show Details -->
        <div class="card mb-3">
            <div class="card-body">
                <div class="row no-gutter">
                    <div class="col-md-4">
                        <img src="~/img/shows/@Model.Image" class="card-img" />
                    </div>
                    <div class="col-md-8">

                        <h5 class="card-title"><a>@Model.Name</a></h5>
                        <p class="card-text">@Model.Description</p>
                        <p class="card-text">
                            <small class="text-muted">Date : @Model.Year</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Category : @ViewData["Category"]</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Genre : @ViewData["Genre"]</small>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Oyuncular : @Model.Stars</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="width: 100%;">
    <div style="width: 100%;">
        <form method="POST"  asp-action="Add" asp-controller="Comment">
            <div class="form-group">
                <label for="comment">Your Comment : </label>
                <textarea  class="form-control" id="comment" placeholder="Enter your comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<div class="row">
    <h3>Comments(1)</h3>

    <div class="comments-list">
        <div class="media">
            <a class="media-left" href="#">
                <img class="avatar" src="http://lorempixel.com/80/80/people/1/">
            </a>
            <div class="media-body" style="padding-left: 10px; padding-top:10px">
                <h4 class="media-heading user_name">Baltej Singh <small> / 22 Aralık 2018</small></h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis exercitationem vero dicta, aspernatur laudantium nam libero non repudiandae nemo ullam nulla magnam quia veniam distinctio cumque tempora accusantium aliquam voluptate? Doloremque alias molestiae quos fuga eius quis magnam ducimus placeat odit, ratione nulla quo quasi animi officiis pariatur impedit blanditiis quisquam hic porro facere! Non!
            </div>
        </div>
    </div>
</div>

   

